<config>
    <modules>
        <Ranch_ImmediateDelivery>
            <module>0.0.1</module>
        </Ranch_ImmediateDelivery>
    </modules>
    <global>
        <models>
            <ranch_immediatedelivery>
                <class>Ranch_ImmediateDelivery_Model</class>
            </ranch_immediatedelivery>
        </models>
        <helpers>
            <ranch_immediatedelivery>
                <class>Ranch_ImmediateDelivery_Helper</class>
            </ranch_immediatedelivery>
        </helpers>
    </global>
    <default>
        <carriers>
            <ranch_immediatedelivery>
                <active>0</active>
                <sallowspecific>1</sallowspecific>
                <model>ranch_immediatedelivery/carrier</model>
                <name>Immediate Delivery</name>
                <title>Immediate Delivery</title>
                <sort_order>10</sort_order>
            </ranch_immediatedelivery>
        </carriers>
    </default>
</config>
