<?xml version="1.0"?>
<config>
    <modules>
        <Faspay_BcaKlik>
          <version>0.1.0</version>
        </Faspay_BcaKlik>
    </modules>
    <global>
        <models>
            <klikbca>
              <class>Faspay_BcaKlik_Model</class>
            </klikbca>
        </models>
        <helpers>
            <klikbca>
              <class>Faspay_BcaKlik_Helper</class>
            </klikbca>
        </helpers>
        <blocks>
            <klikbca>
              <class>Faspay_BcaKlik_Block</class>
            </klikbca>
        </blocks>
    </global>
    <default>
        <payment>
            <klikbca>
                <model>klikbca/standard</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>KlikBCA</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </klikbca>
        </payment>
    </default>
    <frontend>
        <routers>
            <klikbca>
              <use>standard</use>
              <args>
              <module>Faspay_BcaKlik</module>
              <frontName>klikbca</frontName>
        </args>
      </klikbca>
    </routers>
  </frontend>
</config>