<?xml version="1.0"?>
<config>
    <modules>
        <KS_Warehouse>
            <version>0.1.1</version>
        </KS_Warehouse>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <warehouse before="Mage_Adminhtml">KS_Warehouse_Adminhtml</warehouse>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <club module="KS_Warehouse">
                    <file>warehouse.xml</file>
                </club>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <resources>
            <kswarehouse_setup>
                <setup>
                    <module>KS_Warehouse</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kswarehouse_setup>
            <kswarehouse_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kswarehouse_write>
            <kswarehouse_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kswarehouse_read>
        </resources>
        <models>
			<admin>
				<rewrite>
					<user>KS_Warehouse_Model_User</user>
				</rewrite>
			</admin>
            <ks_warehouse>
                <class>KS_Warehouse_Model</class>
                <resourceModel>ks_warehouse_mysql4</resourceModel>
            </ks_warehouse>
            <ks_warehouse_mysql4>
                <class>KS_Warehouse_Model_Mysql4</class>
                <entities>
                    <location>
                        <table>gaboli_warehouse_location</table>
                    </location>
                    <stock>
                        <table>ks_product_stock</table>
                    </stock>
                    <location_admin>
                        <table>ks_warehouse_admin</table>
                    </location_admin>
                </entities>
            </ks_warehouse_mysql4>
			<cataloginventory_resource>
				<rewrite>
					<stock>KS_Warehouse_Model_Resource_Stock</stock>
					<stock_item>KS_Warehouse_Model_Resource_Stock_Item</stock_item>
					<stock_status>KS_Warehouse_Model_Resource_Stock_Status</stock_status>
					<stock_item_collection>KS_Warehouse_Model_Resource_Stock_Item_Collection</stock_item_collection>
				</rewrite>
			</cataloginventory_resource>
        </models>
        <helpers>
            <kswarehouse>
                <class>KS_Warehouse_Helper</class>
            </kswarehouse>
        </helpers>
        <blocks>
            <kswarehouse>
                <class>KS_Warehouse_Block</class>
            </kswarehouse>
            <adminhtml>
				<rewrite>
					<catalog_product_edit_tab_inventory>KS_Warehouse_Block_Adminhtml_Catalog_Product_Edit_Tab_Inventory</catalog_product_edit_tab_inventory>
					<!--<sales_order_grid>KS_Club_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
					<sales_order_view>KS_Club_Block_Adminhtml_Sales_Order_View</sales_order_view>-->
				</rewrite>
            </adminhtml>
		</blocks>
		<events>
			<catalog_product_save_after>
                <observers>
                    <product_warehouse_stock_save>
                        <type>singleton</type>
                        <class>ks_warehouse/observer</class>
                        <method>saveWarehouseStock</method>
                    </product_warehouse_stock_save>
                </observers>
			</catalog_product_save_after>
			<sales_order_place_after>
				<observers>
					<product_warehouse_order_place_after>
						<type>singleton</type>
						<class>ks_warehouse/observer</class>
						<method>orderPlaceAfter</method>
					</product_warehouse_order_place_after>
				</observers>
			</sales_order_place_after>
			<order_cancel_after>
				<observers>
					<product_warehouse_order_cancel_after>
						<type>singleton</type>
						<class>ks_warehouse/observer</class>
						<method>orderCancelAfter</method>
					</product_warehouse_order_cancel_after>
				</observers>
			</order_cancel_after>
		</events>
    </global>
</config>