<?xml version="1.0" ?>
<config>
    <modules>
        <Ranch_LandingPage>
            <version>1.0.0</version>
        </Ranch_LandingPage>
    </modules>
    <global>
        <blocks>
            <landingpage>
                <class>Ranch_LandingPage_Block</class>
            </landingpage>
        </blocks>
        <helpers>
            <landingpage>
                <class>Ranch_LandingPage_Helper</class>
            </landingpage>
        </helpers>
        <models>
            <landingpage>
                <class>Ranch_LandingPage_Model</class>
                <resourceModel>landingpage_mysql4</resourceModel>
            </landingpage>
            <landingpage_mysql4>
                <class>Ranch_LandingPage_Model_Mysql4</class>
                <entities>
                    <website>
                        <table>gaboli_warehouse_brand</table>
                    </website>
                    <store>
                        <table>gaboli_warehouse_location</table>
                    </store>
                    <!--<product>
                        <table>datta_storelocator_store_product</table>
                    </product>-->
                </entities>
            </landingpage_mysql4>
        </models>
        <resources>
            <!--<Ranch_directory_setup>
                <setup>
                    <module>Ranch_RanchDirectory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Ranch_directory_setup>-->
            <landingpage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </landingpage_write>
            <landingpage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </landingpage_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <ranch_landingpage>
                <use>standard</use>
                <args>
                    <module>Ranch_LandingPage</module>
                    <frontName>format</frontName>
                </args>
            </ranch_landingpage>
        </routers>
    </frontend>
</config>