<?xml version="1.0"?>
<!--/**
 * Magento
 *
 * @author Faspay http://Service.mediaindonusa.com <cs@mediaindonusa.com>
 * @copyright Copyright (C) 2013 MediaIndonusa. (http://Service.mediaindonusa.com)
 *
**/
-->

<config>
	<sections>
		<Service translate="label" module="Service">
			<label>Faspay</label>
			<tab>sales</tab>
			<frontend_type>text</frontend_type>
			<sort_order>500</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<settings translate="label">
					<label>Faspay Account Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<faspay_id translate="label">
							<label>Faspay Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Masukkan ID Merchant</comment>
						</faspay_id>
						<merchant_name translate="label">
							<label>Faspay Merchant Name</label>
							<frontend_type>text</frontend_type>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Masukkan Nama Merchant</comment>
						</merchant_name>
						<merchant_id translate="label">
							<label>Faspay Merchant User ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_id>
						<merchant_password translate="label">
							<label>Faspay Merchant User Password</label>
							<frontend_type>password</frontend_type>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</merchant_password>
					</fields>
				</settings>
			</groups>
		</Service>
	</sections>
</config>