<?xml version="1.0"?>
<config>
    <modules>
        <Faspaycc_BcaCc>
          <version>0.1.0</version>
        </Faspaycc_BcaCc>
    </modules>
    <global>
        <models>
            <bcacc>
              <class>Faspaycc_BcaCc_Model</class>
            </bcacc>
        </models>
        <helpers>
            <bcacc>
              <class>Faspaycc_BcaCc_Helper</class>
            </bcacc>
        </helpers>
        <blocks>
            <bcacc>
              <class>Faspaycc_BcaCc_Block</class>
            </bcacc>
        </blocks>
    </global>
    <default>
        <payment>
            <bcacc>
                <model>bcacc/standard</model>
                <cctypes>AE,VI,MC,JCB</cctypes>
                <active>1</active>
                <order_status>pending</order_status>
                <title>BCA Credit Card</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </bcacc>
        </payment>
    </default>
    <frontend>
        <routers>
            <bcacc>
              <use>standard</use>
              <args>
              <module>Faspaycc_BcaCc</module>
              <frontName>bcacc</frontName>
        </args>
      </bcacc>
    </routers>
  </frontend>
</config>
