<?xml version="1.0"?>
<config>
  <modules>
    <KS_Ecashmandiri>
      <version>0.1.0</version>
    </KS_Ecashmandiri>
  </modules>
  <global>
    <models>
      <ecashmandiri>
        <class>KS_Ecashmandiri_Model</class>
      </ecashmandiri>
    </models>
    <helpers>
      <ecashmandiri>
        <class>KS_Ecashmandiri_Helper</class>
      </ecashmandiri>
    </helpers>
    <blocks>
        <ecashmandiri>
        <class>KS_Ecashmandiri_Block</class>
        </ecashmandiri>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
            <ecashmandiri>
            <file>veritrans.xml</file>
          </ecashmandiri>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
        <ecashmandiri>
        <model>ecashmandiri/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>E-cash Mandiri</title>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </ecashmandiri>
    </payment>
  </default>
  <frontend>
    <routers>
        <ecashmandiri>
        <use>standard</use>
        <args>
          <module>KS_Ecashmandiri</module>
          <frontName>ecashmandiri</frontName>
        </args>
        </ecashmandiri>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <ks_ecashmandiri>
          <file>veritrans.xml</file>
        </ks_ecashmandiri>
      </updates>
    </layout>
  </adminhtml>
</config>
