<?xml version="1.0"?>
<config>
    <modules>
        <KS_Price>
            <version>0.1.0</version>
        </KS_Price>
    </modules>
    <global>
        <models>
            <ksprice>
                <class>KS_Price_Model</class>
                <resourceModel>ksprice_mysql4</resourceModel>
            </ksprice>
            <ksprice_mysql4>
                <class>KS_Price_Model_Mysql4</class>
                <entities>
                    <price>
                        <table>ks_product_price</table>
                    </price>
                    <special>
                        <table>ks_product_special_price</table>
                    </special>
                </entities>
            </ksprice_mysql4>
			<catalog>
				<rewrite>
					<!--<product_type>KS_Club_Model_Product_Type</product_type>-->
					<product_type_price>KS_Price_Model_Product_Type_Price</product_type_price>
					<product_type_configurable_price>KS_Price_Model_Product_Type_Configurable_Price</product_type_configurable_price>
				</rewrite>
			</catalog>
        </models>
        <blocks>
            <ksprice>
                <class>KS_Price_Block</class>
            </ksprice>
            <catalog>
				<rewrite>
					<product_view_type_configurable>KS_Price_Block_Product_View_Type_Configurable</product_view_type_configurable>
				</rewrite>
            </catalog>
		</blocks>
        <resources>
            <ksprice_setup>
                <setup>
                    <module>KS_Price</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ksprice_setup>
            <ksprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ksprice_write>
            <ksprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ksprice_read>
        </resources>
        <helpers>
            <ksprice>
                <class>KS_Price_Helper</class>
            </ksprice>
        </helpers>
		<events>
			<adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <product_warehouse_pricing_form>
                        <type>singleton</type>
                        <class>ksprice/observer</class>
                        <method>addWarehousePricingForm</method>
                    </product_warehouse_pricing_form>
                </observers>
			</adminhtml_catalog_product_edit_prepare_form>
			<catalog_product_save_after>
                <observers>
                    <product_warehouse_pricing_save>
                        <type>singleton</type>
                        <class>ksprice/observer</class>
                        <method>saveWarehousePricing</method>
                    </product_warehouse_pricing_save>
                </observers>
			</catalog_product_save_after>
			<catalog_product_load_after>
				<observers>
					<product_warehouse_set_warehouse>
						<class>ksprice/observer</class>
						<method>setProductWarehouse</method>
				   </product_warehouse_set_warehouse>
				</observers>
			</catalog_product_load_after>			
			<catalog_product_collection_load_after>
				<observers>
					<product_warehouse_set_warehouse>
						<class>ksprice/observer</class>
						<method>setWarehouseToProducts</method>
				   </product_warehouse_set_warehouse>
				</observers>
			</catalog_product_collection_load_after>			
			<checkout_cart_product_add_after>
                <observers>
                    <set_quote_location>
                        <type>singleton</type>
                        <class>ksprice/observer</class>
                        <method>applyQuoteLocation</method>
                    </set_quote_location>
                </observers>
            </checkout_cart_product_add_after>
			<sales_convert_quote_to_order>
				<observers>
					<ksprice_convert_quote_to_order>
						<type>singleton</type>
						<class>ksprice/observer</class>
						<method>convertQuote</method>
					</ksprice_convert_quote_to_order>
				</observers>
			</sales_convert_quote_to_order>
		</events>
    </global>
</config>